@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Playwrite+AU+VIC+Guides&family=Playwrite+PE+Guides&display=swap');

*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: black;
}

.main{
    background-image: url("assets/images/bg2.jpg");
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no no-repeat ;
    height: 644px;
    width: 100vw;
    
    position: relative;
}

.main .box{
    background-color: black;
    height: 644px;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;

}

nav{
    display: flex;
    justify-content: space-between;

    
    margin: auto;
    max-width: 60vw;
    align-items: center;
    height: 100px;

}

nav img {
    color: rgb(255, 41, 41);
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero{
    height: calc(100% - 100px);
    font-family: "Martel Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;

}

.hero> :nth-child(1){
    font-family: "poppins",sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;

}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperate_line{
    height: 7px;
    background-color: grey;
    position: relative;
    z-index: 20;
}

.main input{
    padding: 2px 43px 15px 4px;
    font-weight: 400;
    color: white;
    background-color: rgba(248,243,243,0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    opacity: 1.5;


}
.btn-red{
    background-color: red;
    color: white;
    padding: 10px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;


}
.btn-red-sm {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.body2{
    color: white;
    padding: 15px;
    font-size:32px;
    font-weight: 900;
}

.griddd{
    /* border: 1px solid white; */
    display: flex;
    justify-content:center ;
    /* align-items: center; */
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw;
    grid-template-rows: 300px;
    gap: 1vw;
    padding-bottom: 58px;
}
.item1{
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    padding: 15px;
    background: linear-gradient(to bottom, #2403ff00, #a202ff5c);
    
    

}
.i1c1{
    color: white;
    position: relative;
    z-index: 10;
    
    font-size: 20px;
    padding: 10px;
}
.i1c2{
    color: white;
    
    font-size: 15px;
    padding-top: 10px;
}
.item2{
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    padding: 15px;
    background: linear-gradient(to bottom, #2403ff00, #a202ff5c);

}
.item3{
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    padding: 15px;
    background: linear-gradient(to bottom, #2403ff00, #a202ff5c);

}
.item4{
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    padding: 15px;
    background: linear-gradient(to bottom, #2403ff00, #a202ff5c);

}
.faq h2{

    text-align: center;
    font-size: 48px;

}
.faq {
    background: black;
    color: white;
    padding: 34px;
}
.faqbox{
    transition: all 3s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
    color: white;

    
}
.faqbox:hover {
    background-color: #605050;
    color: white;
    
}
.faqbox svg{
    color: white;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.footer a:hover {
    opacity: 1;
}

/* Responsive Grid for smaller screens */
@media screen and (max-width: 1300px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: flex-start;
    }
}
.questions{
    margin-top:  -48px;
    margin-bottom: 12px;
}
.nav2{
    color: white;
    font-size: 15px;
    
    display: flex;
    justify-content: center;
}
.nav21{
    color: white;
    font-size: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.in1{
    color: white;
    background-color: black;
    border: 1px solig grey;
    padding: 8px 80px 13px 18px;;
}
.btn2{
    background-color: red;
    border-radius: 5xp;
    padding: 8px 39px 14px 12px;
    font-weight: bold;
    color: white;}
    